<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>IVRFrameworkTemplate</display-name>

	<context-param>
		<param-name>transferEnabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>ivrPlatform</param-name>
		<param-value>WVR</param-value>
	</context-param>

	<context-param>
		<param-name>ctiEnabled</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>ttsEnabled</param-name>
		<param-value>false</param-value>
	</context-param>
	
	<servlet>
		<display-name>InitServlet</display-name>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.InitServlet
		</servlet-class>
		<init-param>
			<param-name>log4jConfigFile</param-name>
			<param-value>EUS_log4j</param-value>
		</init-param>
		<init-param>
			<param-name>mappingFile</param-name>
			<param-value>ivrmapping.properties</param-value>
		</init-param>
		<init-param>
			<param-name>globalConfigFile</param-name>
			<param-value>global.properties</param-value>
		</init-param>
		<init-param>
			<param-name>propertyFilePath</param-name>
			<param-value>file:///wasshare/EUS/properties/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<display-name>EntryPointServlet</display-name>
		<servlet-name>EntryPointServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.EntryPointServlet
		</servlet-class>
		<init-param>
			<param-name>answerCallPage</param-name>
			<param-value>AnswerCall.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>testPage</param-name>
			<param-value>EntryPoint.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>ctiStartPage</param-name>
			<param-value>CTIStart.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>postRoutingPage</param-name>
			<param-value>CTIPostRouting.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>Error.jsv</param-value>
		</init-param>
	</servlet>
	<servlet>
		<display-name>ExitServlet</display-name>
		<servlet-name>ExitServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.ExitServlet
		</servlet-class>
		<init-param>
			<param-name>exitPage</param-name>
			<param-value>Exit.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>newAppPage</param-name>
			<param-value>core/NewApp.jsv</param-value>
		</init-param>
	</servlet>
	<servlet>
		<display-name>TransferServlet</display-name>
		<servlet-name>TransferServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.TransferServlet
		</servlet-class>
		<init-param>
			<param-name>nextPage</param-name>
			<param-value>Transfer.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>core/TransferError.jsv</param-value>
		</init-param>
	</servlet>
		<servlet>
		<display-name>TNTServlet</display-name>
		<servlet-name>TNTServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.TNTServlet
		</servlet-class>
		<init-param>
			<param-name>nextPage</param-name>
			<param-value>TNT.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>core/TNTError.jsv</param-value>
		</init-param>
	</servlet>
	<servlet>
		<display-name>WelcomeServlet</display-name>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.WelcomeServlet
		</servlet-class>
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>Error.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>welcomePage</param-name>
			<param-value>Welcome.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>closedPage</param-name>
			<param-value>core/RoutingClosed.jsv</param-value>
		</init-param>
	</servlet>
	<servlet>
		<display-name>CallRoutingServlet</display-name>
		<servlet-name>CallRoutingServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.CallRoutingServlet
		</servlet-class>
		<init-param>
			<param-name>DTMFPage</param-name>
			<param-value>core/RoutingDTMF.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>SpeechPage</param-name>
			<param-value>core/RoutingSpeech.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>HybridPage</param-name>
			<param-value>core/RoutingHybrid.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>RecordDTMFPage</param-name>
			<param-value>core/RoutingRecordDTMF.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>RecordSpeechPage</param-name>
			<param-value>core/RoutingRecordSpeech.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>RecordHybridPage</param-name>
			<param-value>core/RoutingRecordHybrid.jsv</param-value>
		</init-param>		
		<init-param>
			<param-name>PromptPage</param-name>
			<param-value>core/RoutingPromptPlay.jsv</param-value>
		</init-param>
		<init-param>
			<param-name>TrombonePage</param-name>
			<param-value>Trombone.jsv</param-value>
		</init-param>		
		<init-param>
			<param-name>errorPage</param-name>
			<param-value>Error.jsv</param-value>
		</init-param>
	</servlet>
		
	<servlet>
		<display-name>HeartbeatServlet</display-name>
		<servlet-name>HeartbeatServlet</servlet-name>
		<servlet-class>
			com.ibm.ivr.framework.controller.HeartbeatServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		IvrRedirectServlet</display-name>
		<servlet-name>IvrRedirectServlet</servlet-name>
		<servlet-class>com.ibm.ivr.framework.controller.IvrRedirectServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ReloadServlet</display-name>
		<servlet-name>ReloadServlet</servlet-name>
		<servlet-class>com.ibm.ivr.framework.controller.ReloadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/axis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/InitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EntryPointServlet</servlet-name>
		<url-pattern>/EntryPointServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExitServlet</servlet-name>
		<url-pattern>/ExitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferServlet</servlet-name>
		<url-pattern>/TransferServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TNTServlet</servlet-name>
		<url-pattern>/TNTServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/WelcomeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallRoutingServlet</servlet-name>
		<url-pattern>/CallRoutingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IvrRedirectServlet</servlet-name>
		<url-pattern>
		/IvrRedirectServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReloadServlet</servlet-name>
		<url-pattern>
		/ReloadServlet</url-pattern>
	</servlet-mapping>
	 
	
	<servlet-mapping>
		<servlet-name>HeartbeatServlet</servlet-name>
		<url-pattern>
		/HeartbeatServlet</url-pattern>
	</servlet-mapping>	
	
	
	<listener>     
	<description>sessionListener</description>     
	<listener-class>         
		com.ibm.ivr.framework.controller.HotSwapPlugin 
	</listener-class> 
	</listener> 
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/lib/standard.jar</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>
				http://jakarta.apache.org/taglibs/application-1.0
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/taglibs-application.jar
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>
				http://jakarta.apache.org/taglibs/request-1.0
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/taglibs-request.jar
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>
				http://jakarta.apache.org/taglibs/response-1.0
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/taglibs-response.jar
			</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>
				http://jakarta.apache.org/taglibs/session-1.0
			</taglib-uri>
			<taglib-location>
				/WEB-INF/lib/taglibs-session.jar
			</taglib-location>
		</taglib>
	</jsp-config>
</web-app>
